*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg,#0a0a0a,#3a4452); */
    background-color: white;

}
.calender{
    width: 350px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 15px rgb(94, 94, 139); 
}
.left{
    width: 210px;
    height: 200px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.right{
    width: 140px;
    height: 200px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px; 
}

#date{
    font-size: 80px;
}
